<div>
    <span>AC bonus</span>
    <input name="data.armorClassBonus.value"
           type="text"
           value="{{data.armorClassBonus.value}}"
           data-dtype="Number"/>
</div>
<div>
    <span>speed penalty</span>
    <input name="data.speedPenalty.value"
           type="text"
           value="{{data.speedPenalty.value}}"
           data-dtype="Number"/>
</div>
<div>
    <span>check penalty</span>
    <input name="data.checkPenalty.value"
           type="text"
           value="{{data.checkPenalty.value}}"
           data-dtype="Number"/>
</div>
<div>
    <span>fumble die</span>
    <input name="data.fumbleDie.count"
           type="text"
           value="{{data.fumbleDie.count}}"
           data-dtype="Number"/>
    d
    <input name="data.fumbleDie.value"
           type="text"
           value="{{data.fumbleDie.value}}"
           data-dtype="Number"/>
</div>
